.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}
