@import 'stylesheets/colors.module.scss';

.app {
  text-align: center;
}

.appHeader {
  background-color: $primaryColor;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
